repos:
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: go fmt ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: staticcheck
        name: staticcheck
        entry: staticcheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: errcheck
        name: errcheck
        entry: errcheck ./...
        language: system
        types: [go]
        pass_filenames: false
